<!DOCTYPE html>  
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Invoice</title>


</head>
<body>

  <h1>Invoice</h1>

  <div class="">
    <h3>Brennan Novak</h3>
    <p><strong>Design. Code. Ideas. Open Source. Freedom.</strong></p>
  </div>

  <hr>

  <h3>Hours Worked</h3>
  <table cellpadding="0" cellspacing="0" border="0">
  	<%= hours_rows %>
  </table>

  <h3>Total Hours Worked: <%= hours_total %></h3>
  <h3>Total Monies Due: $<%= money_total %></h3>

</body>
</html>